body {
     font-family: Arial, sans-serif;
      background: #f2f7fa;
      padding: 30px;
    }

    .contact-container {
      max-width: 600px;
      width: 500px;
      margin: auto;
      padding: 25px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    h2 {
      text-align: center;
      color: #2e7d32;
      margin-bottom: 20px;
    }

    .form-field {
      margin-bottom: 20px;
    }