body {
      font-family: Arial, sans-serif;
      /* background-color: #2a045295; */
      padding: 30px;
    }

    .form-box {
      max-width: 600px;
      width: 500px;
      margin: auto;
      padding: 25px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    .form-box h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .form-field {
      margin-bottom: 15px;
    }

    label {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }